[submodule "editorconfig-core-test"]
	path = core-test
	url = https://github.com/editorconfig/editorconfig-core-test.git
[submodule "plugin-test"]
	path = plugin-test
	url = https://github.com/editorconfig/editorconfig-plugin-tests.git
